openapi: 3.1.0
info:
  title: Заявки в УК через MAX, API для организаций
  version: 0.1.0
  description: >
    Организация (УК, АДС, РСО, муниципальная служба, участковый) получает свои заявки и меняет их статус.
    Ключ организации задаётся в переменной ORG_KEYS бота в виде owner:ключ.
servers:
  - url: https://cmyser-ru-max.91.188.212.151.ip.giper.dev
components:
  securitySchemes:
    org_key:
      type: http
      scheme: bearer
  schemas:
    Ticket:
      type: object
      required: [ link, number, status, category, owner, house, place, created ]
      properties:
        link: { type: string, description: Идентификатор заявки }
        number: { type: integer }
        status: { type: string, enum: [ new, accepted, work, done, rejected ] }
        note: { type: string, description: Комментарий организации к статусу }
        category: { type: string }
        owner: { type: string, enum: [ uk, ads, rso, municipal, police ] }
        house: { type: string }
        entrance: { type: string }
        place: { type: string }
        text: { type: string }
        owner_default: { type: string, description: Ответственный по справочнику категории, до передач }
        alarm: { type: [ string, "null" ], description: Время, когда житель запросил эскалацию, иначе null }
        photo: { type: [ string, "null" ], description: Относительный адрес первого файла на боте, например ?BAZA:file=<id>;name=file }
        photos: { type: array, items: { type: string }, description: Адреса всех фото и видео заявки на боте }
        voices: { type: integer, description: Сколько жителей поддержали }
        created: { type: [ string, "null" ], format: date-time }
        react_till: { type: [ string, "null" ], format: date-time }
        fix_till: { type: [ string, "null" ], format: date-time }
        log:
          type: array
          items:
            type: array
            items: { type: string }
            description: Пара [момент, статус]
paths:
  /org/tickets:
    get:
      summary: Заявки, адресованные организации
      security: [ { org_key: [] } ]
      responses:
        '200':
          description: Список заявок
          content:
            application/json:
              schema:
                type: object
                properties:
                  owner: { type: string }
                  tickets: { type: array, items: { $ref: '#/components/schemas/Ticket' } }
        '401': { description: Нет или неверный ключ }
  /org/status:
    post:
      summary: Сменить статус заявки
      security: [ { org_key: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ ticket, status ]
              properties:
                ticket: { type: string }
                status: { type: string, enum: [ new, accepted, work, done, rejected ] }
                note: { type: string }
      responses:
        '200':
          description: Обновлённая заявка
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Ticket' }
        '401': { description: Нет или неверный ключ }
        '403': { description: Заявка адресована другой организации }
        '404': { description: Заявка не найдена }
        '422': { description: Неверный статус или тело запроса }
  /org/transfer:
    post:
      summary: Передать заявку другой организации с причиной
      description: Доступно текущему ответственному. Ответственный меняется, житель получает сообщение, в логе появляется запись to:<организация>.
      security: [ { org: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ ticket, to, reason ]
              properties:
                ticket: { type: string }
                to: { type: string, enum: [ uk, ads, rso, municipal, police ] }
                reason: { type: string }
      responses:
        "200": { description: Заявка после передачи, схема Ticket с полем log }
        "403": { description: Заявка адресована другой организации }
        "422": { description: Нет причины, неизвестная организация или передача самому себе }
  /org/dispute:
    post:
      summary: Оспорить передачу, вернуть заявку прежнему ответственному
      description: Доступно организации, которой заявка была передана последней. В логе появляется запись back:<организация>.
      security: [ { org: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ ticket, reason ]
              properties:
                ticket: { type: string }
                reason: { type: string }
      responses:
        "200": { description: Заявка после возврата }
        "409": { description: Последняя запись лога не передача этой организации }
  /org/escalate:
    post:
      summary: Эскалировать заявку руководству УК
      description: Статус становится escalated, житель получает сообщение, у диспетчера заявка поднимается вверх списка.
      security: [ { org: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ ticket, reason ]
              properties:
                ticket: { type: string }
                reason: { type: string }
      responses:
        "200": { description: Заявка после эскалации }
